Assignment 2 IoT Project/Node-RED/home_basic_layout.json
[
    {
        "id": "d4f7e6eabb377669",
        "type": "tab",
        "label": "180631J",
        "disabled": false,
        "info": "A node-red application to get the weather data in an user-provided location from OpenWeather",
        "env": []
    },
    {
        "id": "bb880e2f9a00bf5e",
        "type": "ui_button",
        "z": "d4f7e6eabb377669",
        "name": "",
        "group": "37793734df231869",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SUBMIT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "26500e4269f27a5f",
        "type": "ui_text_input",
        "z": "d4f7e6eabb377669",
        "name": "",
        "label": "Country",
        "tooltip": "",
        "group": "37793734df231869",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d74779c2ce7c5ecd",
        "type": "ui_text_input",
        "z": "d4f7e6eabb377669",
        "name": "",
        "label": "City",
        "tooltip": "",
        "group": "37793734df231869",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0d09dea94b7d07ef",
        "type": "ui_gauge",
        "z": "d4f7e6eabb377669",
        "name": "Pressure",
        "group": "b4a1087f201a0870",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 380,
        "y": 740,
        "wires": []
    },
    {
        "id": "a7ad7b0366f0b6cc",
        "type": "ui_slider",
        "z": "d4f7e6eabb377669",
        "name": "parm_limit",
        "label": "Limit",
        "tooltip": "",
        "group": "ae607888294aed9a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "801b9c3b758bcd82",
        "type": "ui_dropdown",
        "z": "d4f7e6eabb377669",
        "name": "warning_param",
        "label": "Warning",
        "tooltip": "",
        "place": "Select option",
        "group": "ae607888294aed9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Temperature",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Pressure",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Humidity",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Wind speed",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "47ea7a595c98d69c",
        "type": "ui_gauge",
        "z": "d4f7e6eabb377669",
        "name": "Humidity",
        "group": "b5a4a0951546c81c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 380,
        "y": 820,
        "wires": []
    },
    {
        "id": "ca945d3d1a9c9223",
        "type": "ui_gauge",
        "z": "d4f7e6eabb377669",
        "name": "temperature",
        "group": "30631ba430d55c8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "46745d982086038e",
        "type": "ui_text",
        "z": "d4f7e6eabb377669",
        "group": "e99ec4619daf4a84",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Description",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "90fba45bc784661f",
        "type": "ui_text",
        "z": "d4f7e6eabb377669",
        "group": "e99ec4619daf4a84",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Sunrise",
        "label": "Sunrise",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "23c6e7fc38b3c2a7",
        "type": "ui_text",
        "z": "d4f7e6eabb377669",
        "group": "e99ec4619daf4a84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Sunset",
        "label": "Sunset",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "2457ff5af8c919fc",
        "type": "ui_audio",
        "z": "d4f7e6eabb377669",
        "name": "tts_audio_out",
        "group": "e99ec4619daf4a84",
        "voice": "",
        "always": "",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "d4f7a1db4a13c31a",
        "type": "ui_gauge",
        "z": "d4f7e6eabb377669",
        "name": "wind_speed",
        "group": "7b2fe37919cee36f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Speed",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 390,
        "y": 600,
        "wires": []
    },
    {
        "id": "8775224d466be887",
        "type": "ui_gauge",
        "z": "d4f7e6eabb377669",
        "name": "wind_direction",
        "group": "7b2fe37919cee36f",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Direction",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "fdbc6fdb83c2caf9",
        "type": "ui_button",
        "z": "d4f7e6eabb377669",
        "name": "tts_button",
        "group": "e99ec4619daf4a84",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "AUDIO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "37793734df231869",
        "type": "ui_group",
        "name": "Input City/Country",
        "tab": "66df90d212cacffc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4a1087f201a0870",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "66df90d212cacffc",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae607888294aed9a",
        "type": "ui_group",
        "name": "Warning Limits",
        "tab": "66df90d212cacffc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5a4a0951546c81c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "66df90d212cacffc",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30631ba430d55c8a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "66df90d212cacffc",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e99ec4619daf4a84",
        "type": "ui_group",
        "name": "Description",
        "tab": "66df90d212cacffc",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b2fe37919cee36f",
        "type": "ui_group",
        "name": "Wind",
        "tab": "66df90d212cacffc",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "66df90d212cacffc",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]